*.class
*.log
**metastore_db
.idea

lib_managed/
dist/
target/
**spark-warehouse
**checkpoints
project/boot/
project/plugins/project/
.history
.cache
.lib

*.swp

databricks.properties

.vscode/

.ivy2